.notes {
    position: relative;
    margin-top: 30px;
    &-enter-active, &-leave-active, &-move{
        transition: 0.3s linear;
    }
    &-enter-from, &-leave-to{
        opacity: 0;
        transform: translateY(30%);
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 22px;
        line-height: 28px;
        color: #323232;
    }

    &__checker {
        display: flex;
        align-items: center;
        background: linear-gradient(0deg, rgba(103, 80, 164, 0.11), rgba(103, 80, 164, 0.11)), #FFFBFE;
        box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
        border-radius: 16px;
        padding: 18px 20px;
        gap: 15px;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        color: #6750a4;
        span{
            font-weight: 500;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 360px));
        gap: 24px;
        &.column{
            grid-template-columns: initial;
            .notes__date{
                text-align: right;
            }
        }
    }
    &__item{
        background: linear-gradient(0deg, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)), #FFFBFE;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        padding: 16px;
        padding-bottom: 28px;
        font-size: 14px;
        line-height: 20px;
    }
    &__name{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #1C1B1F;
    }
    &__date{
        display: block;
        color: #cac4d0;
    }
    &__descr{
        color: #49454f;
        margin: 16px 0 29px;
    }
    &__control{
        text-transform: uppercase;
        display: flex;
        justify-content: flex-end;
        gap: 29px;
    }
    &__edit, &__delete{
        display: flex;
        align-items: center;
        font-weight: 500;
        color: #6750a4;
    }
    &__delete{
        color: #cf1b1b;
    }
}