@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    &:focus{
        border: none;
        outline: none;
    }
}
img{
    display: block;
}
.container{
    max-width: 1168px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
body{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.add__note{
    background: linear-gradient(0deg, rgba(103, 80, 164, 0.11), rgba(103, 80, 164, 0.11)), #FFFBFE;
    border-radius: 16px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
@import './header';
@import './notes';
@import './modal';